@font-face { /*import d'une police*/
    font-family: 'capture_itregular';
    src: url('./webfonts/Capture_it-webfont.eot');
    src: url('./webfonts/Capture_it-webfont.eot?#iefix') format('embedded-opentype'),
         url('./webfonts/Capture_it-webfont.woff') format('woff'),
         url('./webfonts/Capture_it-webfont.ttf') format('truetype');
}
body { /* commun a toutes les pages */
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}
#mainpage { /* Positionnement des éléments de la page principal */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#mainimg { /* Positionnement et dimensionnement de l'image d'entête */
    margin: 0;
    padding: 0;
    width: 100vw;
}
#bdan { /* centrage de la bande annonce */
    width: 100vw;
    background-color: black;
    text-align: center;
}
.card { /* dimensionnement des images de personnage et des noms */
    font-family: 'capture_itregular';
    text-align: center;
    background-color: rgb(53, 48, 48);
    color: white;
    margin: 3%;
}
.card:hover { /* effet au passage de la sourie */
    opacity: 0.5;
}
#Iron { /* mise en page de la presentation iron man */
    width: 100%;
    font-family: 'capture_itregular';
    background-image: url(./backgr/ironman.jpg);
    background-size: 100%;
    color: white
}
#Iron p {
    width: 50%;
    margin-left: 1%;
    text-align: left;
}
#captA { /* mise en page de la presentation Captaine America */
    width: 100%;
    font-family: 'capture_itregular';
    background-image: url(./backgr/captainamerica.jpg);
    background-size: 120%;
    color: white
}
#captA p {
    width: 45%;
    margin-left: 1%;
    text-align: left;
}
#captM { /* mise en page de la presentation Captaine Marvel */
    width: 100%;
    font-family: 'capture_itregular';
    background-image: url(./backgr/captainmarvel.png);
    background-size: 110%;
    color: rgb(255, 255, 255);
}
#captM p {
    width: 30%;
    margin-left: 1%;
    text-align: left;
    background-color: rgb(0, 0, 0, 0.3);
}
#hulk { /* mise en page de la presentation Hulk */
    width: 100%;
    font-family: 'capture_itregular';
    background-image: url(./backgr/hulkbg.jpg);
    background-size: 120%;
    color: black;
}
#hulk p {
    width: 40%;
    margin-left: 1%;
    text-align: left;
}
#thor { /* mise en page de la presentation Thor */
    width: 100%;
    font-family: 'capture_itregular';
    background-image: url(./backgr/thorgr.jpg);
    background-size: 120%;
    color: white
}
#thor p {
    width: 40%;
    margin-left: 1%;
    text-align: left;
}
#blackw { /* mise en page de la presentation Black Widow */
    width: 100%;
    font-family: 'capture_itregular';
    background-image: url(./backgr/blackwidow.jpg);
    background-size: 120%;
    color: white
}
#blackw p {
    width: 40%;
    margin-left: 1%;
    text-align: left;
}
a { /* suppression de la ligne sous les lien et coloration du texte du lien en blanc */
    text-decoration: none;
    color: white;
}
.describ { /* Positionnement de la description dans chaque page */
    position: absolute;
    position: fixed;
    bottom: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.describ:hover {
    background-color: rgb(0, 0, 0, 0.3);
}
